<div class="row">

	<div class="span7 offset1">
		<div class="well">
			<%= link_to 'Back', pins_path %>
			<% if current_user == @pin.user %>
				| <%= link_to 'Edit', edit_pin_path(@pin) %> | 
				<%= link_to 'Delete', @pin, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
			
			<%= image_tag @pin.image %>
			<p>
		 	 <%= @pin.description %>
			</p>
			<p>
				<strong>
				<% @pin.tags.any? %>
	  			<% @pin.tags.each do |tag| %>
	  				<%= link_to tag.name, tag_path(:tag => tag.name) %>
				<% end %>
				</strong> 
			</p>
			<div>	
				<%= link_to '<i class="icon-thumbs-up"></i> Like'.html_safe, votefor_pin_path(@pin), :method => :post %>
				<%= @pin.upvotes.size %>
				<div class="user">
		
					<strong>
						Posted by <%= link_to @pin.user.name, @pin.user %>
					</strong> 
				</div>
			</div>


			<%= content_tag(:div, nil, :class => 'fb-like', "data-href" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-width" => '600' ) %>
			<%= content_tag(:div, nil, :class => 'fb-comments', "data-href" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-width" => '600' ) %>
		</div>
	</div>
</div>
